<?xml version="1.0" encoding="UTF-8" ?>

<bwtz-confinfo xmlns="http://bedework.org/ns/" type="org.bedework.timezones.common.TzConfig">
  <dbPath>${org.bedework.data.dir}tzsvr/dbData/</dbPath>
  <dtstamp>2020-10-09T22:08:00Z</dtstamp>
  <name>config</name>
  <primaryServer>true</primaryServer>
  <primaryUrl>www.bedework.org</primaryUrl>
  <refreshDelay>86400</refreshDelay>
  <source>IANA 2020bj</source>
  <tzdataUrl>${org.bedework.data.dir}tzsvr/tzdata2020b/</tzdataUrl>
  <version>1.0</version>
</bwtz-confinfo>
