<?xml version="1.0" encoding="UTF-8" ?>

<bwtz-cnvinfo xmlns="http://bedework.org/ns/" type="org.bedework.timezones.convert.TzConvertParams">
  <aliasesPath>${org.bedework.data.dir}/tzsvr/aliases.properties</aliasesPath>
  <compare>true</compare>
  <compareWithPath>${org.bedework.data.dir}/tzsvr/vzic/zoneinfo/</compareWithPath>
  <endYear>2040</endYear>
  <generate>true</generate>
  <name>config</name>
  <prodid>-//bedework.org//tzsvr//EN</prodid>
  <rootdir>${org.bedework.data.dir}/tzsvr/</rootdir>
  <source>tzdb-2017c</source>
  <startYear>1800</startYear>
  <tzServerUri></tzServerUri>
</bwtz-cnvinfo>
