<?xml version="1.0" encoding="UTF-8" ?>

<system-properties xmlns="http://bedework.org/ns/" type="org.bedework.common.jmx.SystemPropertiesImpl">
  <admingroupsClass>org.bedework.calsvc.directory.AdminGroupsDbImpl</admingroupsClass>
  <autoKillMinutes>0</autoKillMinutes>
  <cacheUrlPrefix>http://localhost:7070</cacheUrlPrefix>
  <calSoapWsURI>/calws-soap/</calSoapWsURI>
  <calSoapWsWSDLURI>http://localhost:8080/xmlspec/wsdls/calws-soap/wssvc.wsdl</calSoapWsWSDLURI>
  <eventregAdminToken>ba48c4dc-ab49-4f55-b2c5-02cd450d2762</eventregAdminToken>
  <eventregUrl>http://localhost:8080/eventreg/</eventregUrl>
  <featureFlags>-VPOLLUI-</featureFlags>
  <ischeduleURI>/ischedule/</ischeduleURI>
  <mailerClass>org.bedework.mail.DummyMailer</mailerClass>
  <rootUsers>admin</rootUsers>
  <socketToken>abcd</socketToken>
  <suggestionEnabled>true</suggestionEnabled>
  <syseventsProperties>
    <syseventsProperty>java.naming.provider.url = vm://bedework</syseventsProperty>
    <syseventsProperty>org.bedework.connection.factory.name=BedeworkConnectionFactory</syseventsProperty>
    <syseventsProperty>org.bedework.jms.queue.prefix=activemq/queue/</syseventsProperty>
    <syseventsProperty>connectionFactoryNames = activemq/QueueConnectionFactory</syseventsProperty>
    <syseventsProperty>queue.queue/sysevents = bedework.sysevents</syseventsProperty>
    <syseventsProperty>queue.queue/syseventslog = bedework.sysevents.logger</syseventsProperty>
    <syseventsProperty>queue.queue/monitor = bedework.sysevents.monitor</syseventsProperty>
    <syseventsProperty>queue.queue/schedulerIn = bedework.scheduleIn</syseventsProperty>
    <syseventsProperty>queue.queue/schedulerOut = bedework.scheduleOut</syseventsProperty>
    <syseventsProperty>queue.queue/crawler = bedework.crawler</syseventsProperty>
  </syseventsProperties>
  <systemid>demobedework@mysite.edu</systemid>
  <timezonesByReference>false</timezonesByReference>
  <tzServeruri>http://localhost:8080/tzsvr</tzServeruri>
  <tzid>America/New_York</tzid>
  <userauthClass>org.bedework.calsvc.directory.UserAuthUWDbImpl</userauthClass>
  <usergroupsClass>org.bedework.calsvc.directory.UserGroupsLdapImpl</usergroupsClass>
  <workflowEnabled>true</workflowEnabled>
  <workflowRoot>/public/unbrowsable/workflow</workflowRoot>
</system-properties>
